.invoice-format-col{
	    width: 100%;
    overflow: scroll;
	margin:0 4rem !important;
}
.modal-header-format{
 padding: 0px 0.5rem 0px 0px;
	    display: flex;
    justify-content: end;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
	    background-image: url(https://vyaparwebsiteimages.vypcdn.in/download_desktop_popup_image.png);

}
.download-format-row{
	gap:1.66rem;
	display:flex !important;
	flex-wrap:wrap !important;
	max-width: 1000%;
	    width: 100%;
    overflow: visible;
    margin-bottom: 5%;
font-family: Poppins;
	justify-content:center;
}	
.invoice-format-download-group{
	background:#F9FAFA;
}
.download-format-image{
			margin:0;
	}
.invoice-format-preview-download-heading{
		margin-top:0.75rem !important;
	font-family: Poppins;
color:	#3F4155
	}
	.download-format-heading{
			margin:0;
		gap:0;
			border: 0 solid lightgray;
			border-width: 2px 0 0 0;
	}
	.download-format-column{
					background:white;
				border:2px solid lightgray;
		border-radius:0 0px 12px 12px;
		width: 308px !important;
	}
.format-preview-close{
	    font-size: 21px;
    font-weight: 500;
	padding:0px;
    background: none;
    color: gray;
	border:none;
}
.format-preview-close:hover{
	    background: none;
	color:gray;

}
.download-image{
	display:flex;
	align-items:center;
	justify-content:right;
	padding:0.5rem;
	padding-top:1rem;
	height: 3.8rem;
}
.title-text{
	padding-left:1.2rem;
	font-family: Poppins;
	    font-style: normal;
    font-weight: 500;
    margin-top: 20px !important;
	color:#3F4155;
	font-size:18px !important
}

.tools-tailored-for-business{
	display:flex;
	justify-content:center;
}

.tools-tailored-logo-col{
	    display: flex;
    justify-content: center;
    gap: 4rem;
	padding-top:2rem;
}

	@media only screen
		and (max-width : 576px)  {
			.invoice-format-col{
	    width: 100%;
    overflow: scroll;
	margin:0 5% !important;
}
			.download-format-row{
	display:flex;
				justify-content:flex-start;
	gap:1.5%rem !important;
				padding:0;
    max-width: 1000%;
	    width: 725%;
    overflow: visible;
    margin-bottom: 5%;
}	
		.title-text{
	padding-left:0.2rem;
}	
}