.faqs{
		margin:4rem;
		border:1px solid #E7E7E7;
		border-radius:1rem;
	}
	.faq-section{
		border-bottom:1px solid #E7E7E7;
		margin-bottom:0;

	}
	.faq-inner{
		padding:0.5rem 12rem 0rem 3rem;
	}
	.faq-answer-collapse-expand{
		display:flex;
		justify-content:center;
		align-items:center;
		padding-top:18px;
	}
	.faq-answer-collapse .faq-answer-expand{
		display:flex;
		justify-content:center;
		align-items:center;
		margin:0;
	}
	.faq-heading-invoice-format{
		font-family:Poppins;
		color:#3F4155;
	}
	.faq-heading{
		margin:0;
		margin-bottom:1rem;
		font-family:Poppins;
		color:#3F4155;
	}
	.faq-answer{
		margin-bottom:0rem;
    margin-top: 0rem;
		font-family:Poppins;
		color:#71748E;
		font-size:13px !important;
	}
.show-more-less-para-faq{
		       margin-bottom: 0 !important;
		color:#1d9bf0;
		font-size:18px !important;
		font-weight:500;
		cursor:pointer;
    font-family: poppins;
	}
	.show-more-less-dropdown-faq figure{
		        margin-bottom: 0 !important;
		cursor:pointer;
	}
	.show-more-less-dropdown-faq{
		    display: flex;
    align-items: center;
    justify-content: start;
	}
	.showMoreorLessFaq{
		gap:0.25rem !important;
	}
	.show-more-less-col-faq{
		    display: flex;
    justify-content: end;
    align-items: center;
	}
.show-more-less-dropdown-faq figure {
    margin-bottom: 0 !important;
    cursor: pointer;
}
@media only screen
	and (max-width : 576px)  {
		.faqs{
		margin:1rem;
	}
	.faq-inner{
		padding:0.5rem 0.5rem 0rem 0.5rem;
	}
}